body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./mario-bg.jpg");
    background-size: cover;
}

#score {
    color: white;
}

#restartBtn {
    padding: 10px 20px;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #ff5252;
    color: white;
}

#restartBtn:hover {
    background-color: #ff1744;
}

#board {
    width: 540px;
    height: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
}

#board div img {
    width: 100px;
    height: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
